{% extends 'base.html' %}

{% block content %}

<div class='course'>
       <h1>Lista Utenti</h1>
        <table class='list-tab'>
              <tr><th>ID User</th><th>Cognome</th><th>Nome</th><th>username</th>
        {% for user in users %}     
            <tr>
                <td><b>{{ user['id'] }}</td><td>{{ user['surname'] }}</td><td>{{ user['name'] }}</td>                
                <td>{{ user['username']}}</td>
            </tr>
        {% endfor %} 
        </table>
</div>

{% endblock %}