{% extends 'base.html' %}

{% block content %}

<div class='course'>
       <h1>Ricerca Studente</h1>

        <form method="post" >
            <input name="srchsurname" type="search" placeholder="Cerca Cognome" aria-label="Cerca">
            <button type="submit">Search</button>
        </form>
    
        <table class='list-tab'>
              <tr><th>ID Corso</th><th>Cognome</th><th>Nome</th><th>Codice Fiscale</th><th> *** ID *** </th><th> --- </th></tr>
        {% for customer in customers %}     
            <tr>
                <td><b>{{ customer['course_id'] }}</td><td>{{ customer['surname'] }}</td><td>{{ customer['name'] }}</td>                
                <td>{{ customer['tax_code']}}</td><td>{{ customer['id']}}</td>
                <td><a href="{{ url_for('add_payment',customer_id=customer.id) }}">Pagamenti</a></td>
            </tr>
        {% endfor %} 
        </table>
</div>

<script >
    function sessionvalidator(){
        {% if session.get('user_type')=='' -%}
            location.replace("/")
        {% endif %}
    }
</script>

{% endblock %}